Source: omnifunken
Section: unknown
Priority: optional
Maintainer: Manuel Weichselbaumer <mincequi@web.de>
Build-Depends:	debhelper (>= 8.0.0),
		qtbase5-dev (>= 5.2),
		qt5-default,
		libavahi-compat-libdnssd-dev,
		libssl-dev,
		libao-dev,
		libasound2-dev
Standards-Version: 3.9.5
Homepage: https://github.com/mincequi/OmniFunken

Package: omnifunken
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OmniFunken aims to be a general purpose media render daemon
